# --- Dataset e Dati Pesanti ---
tracking/
tracking/train/
tracking/test/
tracking/challenge/
SIMULATOR/lecture_example_from_training

# --- Output video di Esecuzioni ---
output/**/*.mp4
output/**/*.avi
output/**/*.txt

# --- Python Cache e Ambienti Virtuali ---
__pycache__/
*.py[cod]
.venv/
env/
venv/

# --- IDE Settings ---
.vscode/
.idea/
.gemini/

# --- Modelli Salvati ---
models/*.pt
models/*.pth
models\model.osnet.pth.tar-10
