# --- Dataset e Dati Pesanti ---
tracking/
tracking/train/
tracking/test/
tracking/challenge/

# --- Output video di Esecuzioni ---
output/**/*.mp4
output/**/*.avi

# --- Python Cache e Ambienti Virtuali ---
__pycache__/
*.py[cod]
.venv/
env/
venv/

# --- IDE Settings ---
.vscode/
.idea/

# --- Modelli Salvati ---
models/*.pt
models/*.pth
